h3 {
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

h4 {
  margin-bottom: 20px;
  display: inline-block;
}

h2 {
  margin-top: 10%;
  text-align: left;
}

button {
  margin-top: 2%;
  margin-bottom: 20px;
  display: inline-block;
}

.review-viewport {
  position: relative;
  height: 400px;
  width: auto;
  /* border: 1px solid rgb(255, 255, 255); */
}

.review-item-detail {
  padding-top: 2.55%;
  padding-bottom: 2.55%;
  padding-left: 5%;
}

.review-alternate {
  background: rgba(127, 127, 127, 0.2);
}

.starGroup {
  display: inline-block;
  justify-content: center;
  margin-bottom: 5%;
}

image {
  display: inline-block;
}
