<app-navbar></app-navbar>
<table class="table table-striped" id="cart-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
        <th scope="col">Remove from Cart</th>
      </tr>
    </thead>
    <tbody id="cart-table-body">
        <tr *ngFor="let product of products;">
            <td>{{product.product.id}}</td>
            <td>{{product.product.name}}</td>
            <td>
              <select [(ngModel)]="product.quantity" (ngModelChange)="updateQuantity($event, product.product)">
                <option [ngValue]="product.quantity" [hidden] = "true" [selected] = "true">{{product.quantity}}</option>
                <option *ngFor='let in of counter(product.product.quantity) ;let i = index'>{{i+1}}</option>
              </select>
            </td>
            <td>{{product.product.description}}</td>
            <td><button class="btn-danger" (click)="removeFromCart(product.product)">Remove from Cart</button></td> 
        </tr>
    </tbody>
</table>
<button class="btn btn-danger" [routerLink]="['/home']">Back</button>
<button class="btn btn-warning" (click)="emptyCart()">Empty Cart</button>
<button class="btn btn-primary" [routerLink]="['/checkout']">Proceed to Checkout (${{totalPrice}})</button>