<button class="btn btn-primary" (click)="toggleChat()">Toggle Chat</button>

<div *ngIf="showChat">
  <h3>How can we help you?</h3>
  <div class="t" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <ul>
      <li *ngFor="let m of messages">
        <p [ngClass]="{ admin: m.username === 'ADMIN' }">{{ m.username }}:</p>
        <p [ngClass]="{ admin: m.username === 'ADMIN' }">{{ m.message }}</p>
        <p></p>
      </li>
    </ul>
  </div>
  <input [(ngModel)]="reply" type="text" />
  <button (click)="send()">Send</button>
</div>
