temp-border {
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

img {
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 145px;
  margin-top: 10px;
}

mat-accordion {
  top: 25%;
}

.profile-pic {
  text-align: center;
}

.icon-circle {
  margin: 0;
  position: absolute;
  width: 175px;
  height: 175px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: black;
  border: 5px solid white;
  border-style: solid;
  border-width: 5px;
}

mat-accordion {
  position: relative;
  top: 5%;
}

.mat-expansion-panel-header {
  width: 50%;
}

.mat-content.mat-content-hide-toggle {
  margin-right: 0;
}
