#register-form
{
    padding-top: 3%;
    
    justify-content: center;
    align-items: center;
    width: 60%;
    
    outline-style: solid;
    outline-color: #F26925;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-top: 1%;
    width: auto;
    height: auto;
}

.btn
{
    margin-right: 2%;
}

.reg-btn
{
    padding-top: 10%;
}

input.ng-invalid.ng-touched{
    border: red 2px solid;
}

input.ng-valid.ng-touched{
    border: green 2px solid;
}

.error-msg {
    color: #a94442;
  }


  .container
{
    padding-top: 3%;
}

.inner-login-form
{
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form-group
{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    width: 100%;
}

* {
    font-family: 'Futura Std Book', sans-serif;
}