<div class="text-center">
  <img src="../../../assets/images/Group_1987.png" width="15%" height="15%" alt="Did We Brick It">
</div> 
<div class="container">
<div class="inner-login-form">
  

    <div class="form-group">
<form id="register-form" [formGroup]="registerForm">
    
  <div class="form-group">
    <label for="inputFirstName" class="control-label required">First Name</label>
    <input type="text" id="inputFirstName" class="form-control" formControlName="fname"  placeholder="Enter First Name">
    
    <div *ngIf="f.fname.touched && f.fname.errors" >
      <div *ngIf="f.fname.errors.required" class="error-msg">
        Please enter your first name
      </div>
      <div *ngIf="f.fname.errors.pattern" class="error-msg">
        Only letters are allowed
      </div>
    </div>
  </div>

    <div class="form-group">
      <label for="inputLastName" class="control-label required">Last Name</label>
      <input type="text" class="form-control" formControlName="lname" id="inputLastName" placeholder="Enter Last Name">
    
      <div *ngIf="f.lname.touched && f.lname.errors" >
        <div *ngIf="f.lname.errors.required" class="error-msg">
          Please enter your last name
        </div>
        <div *ngIf="f.lname.errors.pattern" class="error-msg">
          Only letters are allowed
        </div>
      </div>
        
    </div>

    <div class="form-group">
        <label for="inputEmail" class="control-label required">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email">
        <small id="emailHelp" class="form-text text-muted">Ensure you enter the correct email</small>
      
        <div *ngIf="f.email.touched && f.email.errors" >
          <div *ngIf="f.email.errors.required" class="error-msg">
            Please enter your email
          </div>
          <div *ngIf="f.email.errors.email" class="error-msg">
            This is not a valid email
          </div>
        </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="control-label required">Password</label>
      <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Enter Password">

      <div *ngIf="f.password.touched && f.password.errors" >
        <div *ngIf="f.password.errors.required" class="error-msg">
          Please enter your password
        </div>
        <div *ngIf="f.password.errors.pattern" class="error-msg">
          Password requires typical password stuff
        </div>
      </div>
      <div class="reg-btn">

        <app-error-popup *ngIf="hasError" [errorMessage]="errorMessage"></app-error-popup>
        <button class="btn btn-primary" (click)="onSubmit()">Register</button>
      </div>
    </div>
  
    <div class="form-group">
      <label for="inputSecurityQuestion" class="control-label required">Security Question</label>
      <input type="text" class="form-control" formControlName="securityQuestion" id="input-security-question" placeholder="Enter a Security Questions">
    
      <div *ngIf="f.securityQuestion.touched && f.securityQuestion.errors" >
        <div *ngIf="f.securityQuestion.errors.required" class="error-msg">
          Please enter your security question
        </div>
        <div *ngIf="f.securityQuestion.errors.pattern" class="error-msg">
          Only letters and numbers are allowed
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="answer" class="control-label required">Answer</label>
      <input type="text" class="form-control" formControlName="answer" id="input-answer" placeholder="Enter an Answer">
    
      <div *ngIf="f.answer.touched && f.answer.errors" >
        <div *ngIf="f.answer.errors.required" class="error-msg">
          Please enter your Answer to your security question
        </div>
        <div *ngIf="f.answer.errors.pattern" class="error-msg">
          Only letters and numbers are allowed
        </div>
      </div>
    </div>



 
    <app-error-popup *ngIf="hasError" [errorMessage]="errorMessage"></app-error-popup>
    <button class="btn btn-primary" (click)="onSubmit()">Register</button>

</form>
    </div>
</div>
</div>

