button{
    margin-left: 10px;
}

#infoBackground {
    position: absolute; 
    z-index: 1;
    right: 120px;
    top: 70px;
    border-style: solid;
    background-color: var(--bkg-color);
    background-color:  var(--bkg-color);
    inline-size: 200px;
    overflow-wrap: break-word;
  }