<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h5>Shipping/Billing</h5>
      </mat-panel-title>
      <mat-panel-description>
        <p>View or edit your address.</p>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div
      *ngIf="isDisplayActive"
      id="address-readOnly"
      [ngClass]="{ active: isDisplayActive }"
    >
      <div>
        <ul>
          <li>
            <label for="address1">Street Address</label>
            <p>{{ address.address1 }}</p>
          </li>
          <li>
            <label for="address2">Unit</label>
            <p>{{ address.address2 }}</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <label for="city">City</label>
            <p>{{ address.city }}</p>
          </li>
          <li>
            <label for="state">State</label>
            <p>{{ address.state }}</p>
          </li>
          <li>
            <label for="zip">Zip</label>
            <p>{{ address.zip }}</p>
          </li>
          <li>
            <label for="country">Country</label>
            <p>{{ address.country }}</p>
          </li>
        </ul>
      </div>

      <div class="d-flex justify-content-center">
        <button
          type="button"
          id="hideAddressBtn"
          class="btn btn-outline-primary btn-block mb-4"
          style="width: 32%"
          (click)="toggleAddressDisplay()"
        >
          Update
        </button>
      </div>
    </div>

    <!-- Update Address form -->
    <div class="mb-4 mt-4">
      <form *ngIf="isFormActive" (ngSubmit)="updateAddress()">
        <div class="form-line">
          <ul>
            <li style="width: 65%">
              <label for="address-input">Street Address</label>
              <input
                id="address-input"
                name="address-input"
                type="text"
                class="form-control"
                [(ngModel)]="address.address1"
                [ngModelOptions]="{ standalone: true }"
              />
            </li>
            <li style="width: 20%; padding-left: 5%">
              <label for="unit-input">Unit</label>
              <input
                id="unit-input"
                name="unit-input"
                type="text"
                class="form-control"
                [(ngModel)]="address.address2"
                [ngModelOptions]="{ standalone: true }"
              />
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
              <label for="city-input">City</label>
              <input
                id="city-input"
                name="city-input"
                type="text"
                class="form-control"
                [(ngModel)]="address.city"
                [ngModelOptions]="{ standalone: true }"
              />
            </li>
            <li>
              <label for="state-input">State</label>
              <input
                id="state-input"
                name="state-input"
                type="text"
                class="form-control"
                [(ngModel)]="address.state"
                [ngModelOptions]="{ standalone: true }"
              />
            </li>
            <li>
              <label for="zip-input">Zip</label>
              <input
                id="zip-input"
                name="zip-input"
                type="text"
                class="form-control"
                [(ngModel)]="address.zip"
                [ngModelOptions]="{ standalone: true }"
              />
            </li>
            <li>
              <label for="country-input">Country</label>
              <input
                id="country-input"
                name="country-input"
                type="text"
                class="form-control"
                [(ngModel)]="address.country"
                [ngModelOptions]="{ standalone: true }"
              />
            </li>
          </ul>
        </div>

        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-outline-primary btn-block mb-4"
            style="width: 32%"
          >
            Update
          </button>
          <button
            type="click"
            class="btn btn-outline-primary btn-block mb-4"
            style="width: 32%"
            (click)="toggleAddressDisplay()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>

    <!-- <div>
      <form *ngIf="isFormActive" (ngSubmit)="updateAddress()">
        <div>
          <mat-form-field style="width: 70%" appearance="fill">
            <mat-label for="address-input">Street Address</mat-label>
            <input
              matInput
              id="address-input"
              name="address-input"
              type="text"
              [(ngModel)]="address.address1"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
          <mat-form-field
            style="width: 20%; margin-left: 10%"
            appearance="fill"
          >
            <mat-label>Unit</mat-label>
            <input
              matInput
              id="unit-input"
              name="unit-input"
              type="text"
              [(ngModel)]="address.address2"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <input
            matInput
            id="city-input"
            name="city-input"
            type="text"
            [(ngModel)]="address.city"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>State</mat-label>
          <input
            matInput
            id="state-input"
            name="state-input"
            type="text"
            [(ngModel)]="address.state"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Zip</mat-label>
          <input
            matInput
            id="zip-input"
            name="zip-input"
            type="text"
            [(ngModel)]="address.zip"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Country</mat-label>
          <input
            id="country-input"
            name="country-input"
            type="text"
            [(ngModel)]="address.country"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-outline-primary btn-block mb-4"
            style="width: 32%"
          >
            Update
          </button>
          <button
            type="click"
            class="btn btn-outline-primary btn-block mb-4"
            style="width: 32%"
            (click)="toggleAddressDisplay()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div> -->
  </mat-expansion-panel>
</mat-accordion>
