<mat-accordion  class="addressPadding">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h5>Shipping/Billing</h5>
      </mat-panel-title>
      <mat-panel-description>
        <p>View or edit your address.</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div
      *ngIf="isDisplayActive"
      id="address-readOnly"
      [ngClass]="{ active: isDisplayActive }">

      <ul>
        <li>
          <div>
            <label for="address1">Street Address</label>
            <p id="address1">{{ address.address1 }}</p>
          </div>
        </li>
        <li>
          <div style="margin-left: 15em;">
            <label for="address2">Unit</label>
            <p id="address2">{{ address.address2 }}</p>
          </div>
        </li>
        
        <br>
        <li>
          <div>
            <label for="city">City</label>
            <p id="city">{{ address.city }}</p>
          </div>
        </li>
        <li>
          <div style="margin-left: 18em;">
            <label for="state">State</label>
            <p id="state">{{ address.state }}</p>
          </div>
        </li>
        <br>
        <li>
          <div>
            <label for="zip">Zip</label>
            <p id="zip">{{ address.zip }}</p>
          </div>
        </li>
        <li>
          <div style="margin-left: 19em;">
            <label for="country">Country</label>
            <p id="country">{{ address.country }}</p>
          </div>
        </li>
        
      </ul>


      <div class="d-flex justify-content-center">
        <button
          type="button"
          id="hideAddressBtn"
          class="btn btn-primary btn-block mb-4"
          style="width: 32%"
          (click)="toggleAddressDisplay()">
          Update
        </button>
      </div>
    </div>

    <form *ngIf="isFormActive" [formGroup]="addressForm" (ngSubmit)="updateAddress()">
      <ul>
        <li>
          <div style="width:150%">
            <mat-form-field appearance="fill">
              <mat-label>Street Address</mat-label>
              <input matInput 
                     id="address-input" 
                     placeholder="123 example st" 
                     formControlName="address1"/>
              <mat-icon matSuffix>info</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
        </li>
        <li>
          <div style="width:30%; margin-left: 10em;">
            <mat-form-field appearance="fill">
              <mat-label>Unit</mat-label>
              <input matInput
                     id="address2-input"
                     placeholder="Apt 1"
                     formControlName="address2"/>
              <mat-icon matSuffix>info</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
        </li>
        <br>
        <li>
          <div style="width:150%">
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input matInput
                     id="city-input"
                     placeholder="Portland"
                     formControlName="city"/>
              <mat-icon matSuffix>info</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
        </li>
        <li>
          <div style="width:30%; margin-left: 10em;">
            <mat-form-field appearance="fill">
              <mat-label>State</mat-label>
              <input matInput
                     id="state-input"
                     placeholder="OR"
                     formControlName="state"/>
              <mat-icon matSuffix>info</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
        </li>
        <br>
        <li>
          <div style="width:100%">
            <mat-form-field appearance="fill">
              <mat-label>Zip</mat-label>
              <input matInput
                     id="zip-input"
                     placeholder="97210"
                     formControlName="zip"/>
              <mat-icon matSuffix>info</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
        </li>
        <li>
          <div style="width:61%; margin-left: 5em;">
            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <input matInput
                     id="country-input"
                     placeholder="United States"
                     formControlName="country"/>
              <mat-icon matSuffix>info</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field> 
          </div>
        </li>
      </ul>
      
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary mb-4"
          style="width: 32%">
          Update
        </button>
        <button
          type="click"
          class="btn btn-primary mb-4"
          style="width: 32%; margin-left: 2em;"
          (click)="toggleAddressDisplay()">
          Cancel
        </button>
      </div>

      
    </form>
    
  </mat-expansion-panel>
</mat-accordion>
