label {
  font-weight: 600;
  font-family: 'Futura Std Bold', sans-serif;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-form-field {
  width: 100%;
}

mat-accordion {
  width: 150%;
}

ul li {
  display: inline-block;
  list-style: none;
  font-family: 'Futura Std Book', sans-serif;
}

.form-line {
  width: 150%;
  display: inline-block;
}
.addressPadding{
  margin-top: 10%;
}
.my-buttons {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 24px;
  border-radius: inherit;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
