.alert-box{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    --darkreader-neutral-background: #1d1e1e;
    --darkreader-neutral-text: #c2bcb4;
    --darkreader-selection-background: #154c8e;
    --darkreader-selection-text: #d0cbc4;
    font-size: 13px;
    line-height: 19px;
    color: rgb(198, 193, 185);
    font-family: 'Futura Std Book';
    box-sizing: border-box;
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    margin-bottom: 14px!important;
    background-color: rgb(33, 34, 34);
    border-color: rgb(162, 19, 17);
}

.inner-alert-box{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    --darkreader-neutral-background: #1d1e1e;
    --darkreader-neutral-text: #c2bcb4;
    --darkreader-selection-background: #154c8e;
    --darkreader-selection-text: #d0cbc4;
    font-size: 13px;
    line-height: 19px;
    color: rgb(198, 193, 185);
    font-family: 'Futura Std Book';
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
    padding-left: 63px;
    background-color: rgb(33, 34, 34);
    box-shadow: rgb(50, 25, 24) 0px 0px 0px 4px inset;
}

.problem-alert{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    --darkreader-neutral-background: #1d1e1e;
    --darkreader-neutral-text: #c2bcb4;
    --darkreader-selection-background: #154c8e;
    --darkreader-selection-text: #d0cbc4;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    padding-bottom: 4px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.255;
    font-family: 'Futura Std Book';
    color: rgb(212, 74, 71);
}

.alert-message-box{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    --darkreader-neutral-background: #1d1e1e;
    --darkreader-neutral-text: #c2bcb4;
    --darkreader-selection-background: #154c8e;
    --darkreader-selection-text: #d0cbc4;
    font-size: 13px;
    line-height: 19px;
    color: rgb(198, 193, 185);
    font-family: 'Futura Std Book';
    box-sizing: border-box;
}

.error-list{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    --darkreader-neutral-background: #1d1e1e;
    --darkreader-neutral-text: #c2bcb4;
    --darkreader-selection-background: #154c8e;
    --darkreader-selection-text: #d0cbc4;
    font-size: 13px;
    line-height: 19px;
    font-family: 'Futura Std Book';
    box-sizing: border-box;
    margin: 0 0 18px 18px;
    padding: 0;
    margin-bottom: 0!important;
    margin-left: 0;
    color: rgb(198, 193, 185);
}

.error-item{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    --darkreader-neutral-background: #1d1e1e;
    --darkreader-neutral-text: #c2bcb4;
    --darkreader-selection-background: #154c8e;
    --darkreader-selection-text: #d0cbc4;
    font-size: 13px;
    line-height: 19px;
    font-family: 'Futura Std Book';
    color: rgb(198, 193, 185);
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 0;
    list-style: none;
    list-style-image: initial;
}

.a-list-item{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    --darkreader-neutral-background: #1d1e1e;
    --darkreader-neutral-text: #c2bcb4;
    --darkreader-selection-background: #154c8e;
    --darkreader-selection-text: #d0cbc4;
    font-size: 13px;
    line-height: 19px;
    font-family: 'Futura Std Book';
    word-wrap: break-word;
    list-style: none;
    list-style-image: initial;
    box-sizing: border-box;
    color: rgb(198, 193, 185);
}