.card {
  size: auto;
  min-width: 275px;
  max-width: 350px;
  height: 500px;
  transition: 0.2s ease-out;
  background: var(--input-field-bkg);
  border-color: var(--brder-color);
  color: var(--text-color);
  margin-bottom: 5%;
}
.buttonSpacing {
  margin-left: 20px;
}

.card-title {
  color: #f26925;
  font-family: 'Futura Std Bold';
}
.card-body {
  text-align: center;
  font-family: 'Futura Std Book';
}

.input-group.input-group-sm.mb-3 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.infoImg {
  position: relative;
  float: center;
  max-height: 300px;
}
img {
  justify-content: center;
  height: auto;
  width: 95%;
  max-height: 175px;
  max-width: auto;
  left: 0;
  padding: 20px;
}

.btn-dwbi-primary {
  /* background-color: var(--btn-dwbi-primary); */
  background-color: #75cdd9;
}

.btn-dwbi-primary:hover {
  color: #fff;
  /* background-color: #75cdd9; */
  background-color: var(--btn-dwbi-primary);
  border-color: #364e78;
}

div {
  position: relative;
  transition: 0.2s ease-out;
}

.card:hover {
  box-shadow: 0 5px 10px var(--bkg-color);
  transform: translate3d(0, -10px, 0);
}

#infoBackground {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.65) 100%;
}

#infoContent {
  position: relative;
  z-index: 2;
  background: var(--product-detail-bkg);
  border-radius: 25px;
  top: 10%;
  margin: auto;
  padding: 20px;
  width: 80%;
  height: 75%;
}

.detailDisplay {
  margin-right: 5%;
}

#closeBtn {
  float: right;
  padding: 1.5%;
  margin: 1% 1% 0 0;
  font-family: 'Futura Std Bold';
}

.input-group-text,
.form-control {
  background: var(--bkg-color);
  color: var(--text-color);
}
