<div class="card" style="width: 18rem" (click)="toggleInfo()">
  <img class="card-img-top" [src]="productInfo.image" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{ productInfo.name }}</h5>
    <p class="card-text">{{ productInfo.description }}</p>
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
    </div>
    <input
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      [value]="productInfo.price"
      aria-describedby="inputGroup-sizing-sm"
      disabled
    />
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        >Quantity in Stock</span
      >
    </div>
    <input
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      [value]="productInfo.quantity"
      aria-describedby="inputGroup-sizing-sm"
      disabled
    />
  </div>
  <div class="card-body">
    <button
      class="btn btn-dwbi-primary"
      [disabled]="this.quantities.length === 0"
      (click)="addToCart(productInfo, $event)"
    >
      Add to Cart
    </button>
    <button
      *ngIf="userAccess == 'ADMIN'"
      class="btn btn-outline-success"
      (click)="sendProductInfo(productInfo, $event)"
    >
      Update Product
    </button>
  </div>
</div>
<div id="infoBackground" *ngIf="showInfo" (click)="toggleInfo()">
  <div id="infoContent" (click)="stopProp($event)">
    <button id="closeBtn" class="btn btn-dwbi-remove" (click)="toggleInfo()">
      X
    </button>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="detailDisplay">
          <img
            class="infoImg"
            [src]="productInfo.image"
            alt="Extra Info Picture"
          />

          <!-- RIGHT HERE -->
          <div class="card-body">
            <h5 class="card-title">{{ productInfo.name }}</h5>
            <p class="card-text">{{ productInfo.description }}</p>
            <p>Product quantity: {{ productInfo.quantity }}</p>
            <select
              [(ngModel)]="amount"
              *ngIf="this.quantities.length > 0"
              required
              (click)="stopProp($event)"
            >
              <option
                [ngValue]="1"
                value=""
                [hidden]="true"
                [selected]="true"
                (click)="stopProp($event)"
              >
                1
              </option>
              <option *ngFor="let num of quantities" (click)="stopProp($event)">
                {{ num }}
              </option>
            </select>
            <br /><button
              class="btn btn-dwbi-primary mt-3"
              [disabled]="this.quantities.length === 0"
              (click)="addToCart(productInfo, $event)"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <app-display-product-reviews
          [productInfo]="productInfo"
        ></app-display-product-reviews>
      </div>
    </div>
  </div>
</div>
