.card {
    size: auto;
    min-width: 275px;
    max-width: 200px;
    height: fit-content;
    transition: .2s ease-out;
    background: var(--bkg-color);
    border-color: var(--brder-color);
    color: var(--text-color);
  
  }
  
  img
  {
    justify-content: center;
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 307px;
    left:0;
  }
  
  div {
    position: relative;
    transition: .2s ease-out;
  }
  
  .card:hover{
    box-shadow: 0 5px 10px var(--bkg-color);
    transform: translate3d(0,-10px,0);
  }

  #infoBackground {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    background-color: var(--bkg-color);
    background-color:  var(--bkg-color);
  }

  #infoContent {
    position: relative;
    z-index: 2;
    background-color: var(--bkg-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--bkg-color);
    width: 80%;
    height: 50%;
  }

  #closeBtn {
    float: right;
  }

  #infoImg {
    float: left;
  }

  .input-group-text, .form-control{
    background: var(--bkg-color);
    color: var(--text-color);
  }
  