<div class="card" style="width: 18rem;" (click)="toggleInfo()">
    <img class="card-img-top" [src]="productInfo.image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{productInfo.name}}</h5>
      <p class="card-text">{{productInfo.description}}</p>
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
      </div>
      <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.price" aria-describedby="inputGroup-sizing-sm" disabled>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Quantity in Stock</span>
        </div>
        <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.quantity" aria-describedby="inputGroup-sizing-sm" disabled>
      </div>
    <div class="card-body">
        <select [(ngModel)] = "amount" required *ngIf = "productInfo.quantity !== 0" (click)="stopProp($event)">
          <option [ngValue]="0" value="" [disabled]="true" [selected] = "true" [hidden] = "true" (click)="stopProp($event)">Select Amount</option>
          <option *ngFor = "let num of this.quantities" (click)="stopProp($event)">{{num}}</option>
        </select>
        <button *ngIf = "this.amount !== 0" class="btn btn-outline-success" (click)="addToCart(productInfo, $event)">Add to Cart</button>
    </div>
  </div>
  <div id="infoBackground" *ngIf="showInfo" (click)="toggleInfo()">
    <div id="infoContent" (click)="stopProp($event)">
      <button id="closeBtn" (click)="toggleInfo()">X</button>
      <img id="infoImg" [src]="productInfo.image" alt="Extra Info Picture">
      <h5>{{productInfo.name}}</h5>
      <p>{{productInfo.description}}</p>
      <p>Product quantity: {{productInfo.quantity}}</p>
      <select [(ngModel)] = "amount" required *ngIf = "productInfo.quantity !== 0" (click)="stopProp($event)">
        <option [ngValue]="0" value="" [disabled]="true" [selected] = "true" [hidden] = "true" (click)="stopProp($event)">Select Amount</option>
        <option *ngFor = "let num of this.quantities" (click)="stopProp($event)">{{num}}</option>
      </select>
      <button *ngIf = "this.amount !== 0" class="btn btn-outline-success" (click)="addToCart(productInfo, $event)">Add to Cart</button>
    </div>
  </div>
