<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h5>Payment Information</h5>
      </mat-panel-title>
      <mat-panel-description>
        <p>View or edit your payment information.</p>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div
      *ngIf="isDisplayActive"
      id="payment-readOnly"
      [ngClass]="{ active: isDisplayActive }">
      <div>
        <label for="creditCardNumber">Credit Card Number</label>
        <p id="creditCardNumber">{{ payment.credit_card_number }}</p>
      </div>
      <div>
        <label for="expiration">Expiration</label>
        <p id="expiration">{{ payment.expiration }}</p>
      </div>

      <div class="d-flex justify-content-center">
        <button
          type="button"
          id="hideUserBtn"
          class="btn btn-primary btn-block mb-4"
          style="width: 32%"
          (click)="togglePaymentDisplay()">
          Update
        </button>
      </div>
    </div>

    <div class="mb-4 mt-4">
      <form *ngIf="isFormActive" [formGroup]="paymentForm" (ngSubmit)="updatePayment()">

        <mat-form-field appearance="fill">
          <mat-label>Credit Card Number</mat-label>
          <input matInput
                 id="ccn-input"
                 placeholder="1234-1234-1234-1234"
                 formControlName="credit_card_number"/>
          <mat-icon matSuffix>info</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Expiration</mat-label>
          <input matInput
                 id="expiration-input"
                 placeholder="10/25"
                 formControlName="expiration"/>
          <mat-icon matSuffix>info</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-primary mb-4"
            style="width: 32%"
          >
            Update
          </button>
          <button
            type="click"
            class="btn btn-primary mb-4 "
            style="width: 32%; margin-left: 2em;"
            (click)="togglePaymentDisplay()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
