<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h5>Payment Information</h5>
      </mat-panel-title>
      <mat-panel-description>
        <p>View or edit your payment information.</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mb-4 mt-4">
      <form (ngSubmit)="updatePayment()">
        <label for="ccn-input">Credit Card Number</label>
        <input
          id="ccn-input"
          name="ccn-input"
          type="text"
          class="form-control"
          [(ngModel)]="payment.credit_card_number"
          [ngModelOptions]="{ standalone: true }"
        />

        <label for="cvv-input">CVV</label>
        <input
          id="cvv-input"
          name="cvv-input"
          type="text"
          class="form-control"
          [(ngModel)]="payment.security_code"
          [ngModelOptions]="{ standalone: true }"
        />

        <label for="expiration-input">Expiration</label>
        <input
          id="expiration-input"
          name="expiration-input"
          type="text"
          class="form-control"
          [(ngModel)]="payment.expiration"
          [ngModelOptions]="{ standalone: true }"
        />

        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-outline-primary btn-block mb-4"
            style="width: 32%"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
