<div class="mb-4 mt-4">
  <div
    *ngIf="isDisplayActive"
    id="user-readOnly"
    [ngClass]="{ active: isDisplayActive }"
  >
    <h5 class="label">Name</h5>
    <p>{{ user.firstName }} {{ user.lastName }}</p>

    <h5>E-mail</h5>
    <p>{{ user.email }}</p>

    <div class="d-flex justify-content-center">
      <button
        type="button"
        id="hideUserBtn"
        class="btn btn-outline-primary btn-block mb-4"
        style="width: 32%"
        (click)="toggleUserDisplay()"
      >
        Update
      </button>
    </div>
  </div>

  <!-- Update User form -->
  <form *ngIf="isFormActive" (ngSubmit)="updateUser()">
    <label for="firstname-input">First Name</label>
    <input
      id="firstname-input"
      name="firstname-input"
      type="text"
      class="form-control"
      [(ngModel)]="user.firstName"
      [ngModelOptions]="{ standalone: true }"
    />

    <label for="lastname-input">Last Name</label>
    <input
      id="lastname-input"
      name="lastname-input"
      type="text"
      class="form-control"
      [(ngModel)]="user.lastName"
      [ngModelOptions]="{ standalone: true }"
    />

    <label for="email-input">Email</label>
    <input
      id="email-input"
      name="email-input"
      type="text"
      class="form-control"
      [(ngModel)]="user.email"
      [ngModelOptions]="{ standalone: true }"
    />

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-outline-primary btn-block mb-4"
        style="width: 32%"
      >
        Save
      </button>
      <button
        type="click"
        class="btn btn-outline-primary btn-block mb-4"
        style="width: 32%"
        (click)="toggleUserDisplay()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
