<div class="container userPadding">
  <div class="mb-4 mt-4">
    <div
      *ngIf="isFormActive == false"
      id="user-readOnly"
      [ngClass]="{ active: !isFormActive }"
    >
      <div id="user-info">
        <h5 class="label">Name:</h5>
        <p>{{ user.firstName }} {{ user.lastName }}</p>

        <h5 class="label">E-mail:</h5>
        <p>{{ user.email }}</p>
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="button"
          id="hideUserBtn"
          class="btn btn-dwbi-primary btn-block mb-4"
          style="width: 32%"
          (click)="toggleUserDisplay()"
        >
          Update
        </button>
      </div>
    </div>

    <!-- Update User form -->
    <div *ngIf="isFormActive">
      <form [formGroup]="userForm" (ngSubmit)="updateUser()">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            id="first-input"
            placeholder="Name"
            formControlName="firstName"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            id="last-input"
            placeholder="Name"
            formControlName="lastName"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            id="email-input"
            placeholder="name@example.com"
            formControlName="email"
          />
        </mat-form-field>

        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-dwbi-primary mb-4"
            style="width: 32%"
          >
            Save
          </button>
          <button
            type="click"
            class="btn btn-dwbi-remove mb-4 ml-3"
            style="width: 32%"
            (click)="toggleUserDisplay()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
