p {
  font-family: 'Futura Std Book';
  font-size: 1.25rem;
  margin-left: 20%;
  margin-bottom: 2em;
}

.userPadding {
  margin-top: 20%;
}

.label {
  font-family: 'Futura Std Medium';
}

#user-info {
  margin-left: 10%;
}

.label{
    font-family: 'Futura Std Medium', sans-serif;
  }
*
{
  font-family: 'Futura Std Book';
}

