<!-- <h3 mat-dialog-title>Change Password</h3>
<div mat-dialog-content>

    <mat-form-field appearance="fill">
    <mat-label>Old Password</mat-label>
    <input matInput [(ngModel)]="credential.oldPass">
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput [(ngModel)]="credential.newPass">
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Re-Type New Password</mat-label>
    <input matInput [(ngModel)]="credential.againPass">
    </mat-form-field>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button
            [mat-dialog-close]="credential"
            cdkFocusInitial>
        Update
    </button>
</div> -->

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h5>Change Password</h5>
      </mat-panel-title>
      <mat-panel-description>
        <p>Update your password.</p>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div
      *ngIf="isDisplayActive"
      id="password-readOnly"
      [ngClass]="{ active: isDisplayActive }"
    >
      <label for="oldPass">Old Password</label>
      <p id="oldPass">{{ passwordCred.oldPass }}</p>

      <!-- <label for="New Password">New Password</label>
      <p>{{ password.newPass }}</p>

      <label for="Re-Type New Password">Re-Type New Password</label>
      <p>{{ password.againPass }}</p> -->

      <div class="d-flex justify-content-center">
        <button
          type="button"
          id="hidePasswordBtn"
          class="btn btn-outline-primary btn-block mb-4"
          style="width: 32%"
          (click)="togglePasswordDisplay()"
        >
          Update
        </button>
      </div>
    </div>

    <!-- Update password form -->
    <div class="mb-4 mt-4">
      <form *ngIf="isFormActive" (ngSubmit)="updatePassword()">
        <label for="newPass-input">New Password</label>
        <input
          id="newPass-input"
          name="newPass-input"
          type="text"
          class="form-control"
          [(ngModel)]="passwordCred.newPass"
          [ngModelOptions]="{ standalone: true }"
        />

        <label for="againPass-input">Re-Type New Password</label>
        <input
          id="againPass-input"
          name="againPass-input"
          type="text"
          class="form-control"
          [(ngModel)]="passwordCred.username"
          [ngModelOptions]="{ standalone: true }"
        />

        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-outline-primary btn-block mb-4"
            style="width: 32%"
          >
            Update
          </button>
          <button
            type="click"
            class="btn btn-outline-primary btn-block mb-4"
            style="width: 32%"
            (click)="togglePasswordDisplay()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
