<h3 mat-dialog-title>Change Password</h3>
<div mat-dialog-content>

    <mat-form-field appearance="fill">
    <mat-label>Old Password</mat-label>
    <input matInput [(ngModel)]="credential.oldPass">
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput [(ngModel)]="credential.newPass">
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Re-Type New Password</mat-label>
    <input matInput [(ngModel)]="credential.againPass">
    </mat-form-field>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button
            [mat-dialog-close]="credential"
            cdkFocusInitial>
        Update
    </button>
</div>