<img src="../../../assets/images/rev-logo.png" width="30%" height="30%" alt="Revature">
<form id="login-form" [formGroup]="loginForm">
    
  <div class="form-group">
      <label for="exampleInputEmail1" class="word">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Ensure you enter the correct email</small>

      <div *ngIf="f.email.touched && f.email.errors" >
        <div *ngIf="f.email.errors.required" class="error-msg">
          Please enter your email
        </div>
        <div *ngIf="f.email.errors.email" class="error-msg">
          This is not a valid email
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1" class="word">Password</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
    
      <div *ngIf="f.password.touched && f.password.errors" >
        <div *ngIf="f.password.errors.required" class="error-msg">
          Please enter your password
        </div>
      </div>
    </div>

    <app-error-popup *ngIf="hasError" [errorMessage]="errorMessage"></app-error-popup>

    <button class="btn btn-primary" (click)="onSubmit()">Login</button>
    <button class="btn btn-primary" [routerLink]="['/register']">Register</button>
    <button class="btn btn-primary" routerLink="/reset/">Reset Password</button>
</form>
