/* Item sizing */
.cardListItem {
    flex: 0 0 307px;
    padding-bottom: 6%;
    max-width: 400px;
    /* margin-left: 6%; */
  }
    
  
    /* small size viewport */
  @media screen and (max-width: 640px) {
    /* Item sizing */
    .cardListItem {
      flex: 0 0 307px;
      margin-left: 4%;
      padding-left: 3%;
    }
  }
    /* medium size viewport */
  @media screen and (max-width: 959px) {
    /* Item sizing */
    .cardListItem {
      /* flex: 0 0 307px; */
      margin-left: 5%;
      margin-right: 5%;
    }
  }
    
  @supports (display: grid) {
    .product-cards { 
      max-width: 10000px;
      margin: 0; 
      padding: 3%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      column-gap: 60px;
    }
  }
  .row.align-items-start{
    row-gap: 50px;
  }

.container 
{
  margin-top: 1%;
}

.col-4
{
  margin-bottom: 1%;
}

.search-bar{
  position: fixed;
  top: 10px;
  left: 40%;
  z-index: 1001;
  
  

}
.search-button{
  width: 30%;
  padding: 2%;
}
.search-input{
  width: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.home{
  text-align: center;
  background-color: var(--bkg-title-color);
  padding-top: 5%;
  padding-bottom: 6%;
}
