<app-navbar></app-navbar>
<app-error-popup *ngIf="hasError" [errorMessage]="errorMessage"></app-error-popup>
<ng-container *ngIf="profile != null && !hasError">
  <h3>Welcome, {{ profile.user.firstName }}!</h3>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="temp-border">
          <ng-container *ngIf="profile">
            <app-profile-pic></app-profile-pic>

            <app-user
              [user]="profile.user"
              (newUserEvent)="updateUser($event)"
            ></app-user>
          </ng-container>
        </div>
      </div>
      <div class="col-6">
        <ng-container *ngIf="profile">
          <app-address
            [address]="profile.address"
            (newAddressEvent)="updateAddress($event)"
          ></app-address>
        </ng-container>
        <hr />
        <ng-container *ngIf="profile">
          <app-payment
            [payment]="profile.payment"
            (newPaymentEvent)="updatePayment($event)"
          ></app-payment>
        </ng-container>
        <hr />

        <!-- password -->
        <ng-container *ngIf="profile">
        <app-change-password
          [passwordCred]="passwordCred"
          (newPasswordEvent)="changePassword($event)"
        ></app-change-password>
        </ng-container>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button mat-button (click)="updateProfile()">Save All Changes</button>
    </div>
  </div>
</ng-container>
