temp-border {
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

img {
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 120px;
  max-height: 100px;
}

.profile-container {
  position: relative;
  padding: 5em;
}

.rightColumn{
  margin-left: 10%;
  padding: 2%;
}