div {
  position: relative;
  transition: 0.2s ease-out;
}
.container{
    color: black;
}
#orderBackground {
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

#header-row {
  background: rgb(185, 185, 186);
}

.btn {
  background-color: #0b79d9;
}

.btn-danger {
  padding-left: 20px;
  padding-right: 20px;
}
.title-text {
  font-family: 'Futura Std Bold', sans-serif;
}

.table-scroll {
  position: relative;
  height: 600px;
  width: 100%;
  /* min-width: 100%; */
  display: block;
  overflow: auto;
  will-change: scroll-position;
  contain: strict;
}

.table-scroll::-webkit-scrollbar {
  display: none;
}
