div {
    position: relative;
    transition: .2s ease-out;
}

#orderBackground {
    /* position: fixed;  */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    background-color: var(--bkg-color);
    background-color:  var(--bkg-color);
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#header-row {
    background: rgb(185, 185, 186)
}

.btn {
    background-color: rgb(72, 76, 86);
}

.btn-danger {
    padding-left: 20px;
    padding-right: 20px;
}
.title-text
{
    font-family: 'Futura Std Bold';
}
