/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Futura Std Bold';
  src: url('assets/fonts/Futura-Std-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Futura Std Book';
  src: url('assets/fonts/Futura-Std-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Futura Std Medium';
  src: url('assets/fonts/Futura-Std-Bold.otf') format('opentype');
}

body {
  --text-color: #222;
  --bkg-color: #fff;
  --btn-txt-color: white;
  --btn-bg-color: rgb(11, 88, 160);
  --bkg-nav-color: rgb(189, 185, 185);
  --brder-color: black;
  --bkg-slider-color: black;
  --bkg-title-color: linear-gradient(
    90deg,
    rgba(252, 180, 20, 1) 0%,
    rgba(242, 105, 32, 1) 100%
  );
  --bkg-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 227, 164, 0.75) 100%
  );
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #252222;
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
  --bkg-nav-color: black;
  --brder-color: white;
  --bkg-slider-color: white;
}

.title {
  background: var(--bkg-title-color);
  padding-top: 5%;
  padding-bottom: 5%;
}
.title-text {
  margin-left: 20%;
  text-align: right;
  width: fit-content;
}
.card-title {
  color: var(--bkg-title-color);
}
body {
  color: var(--text-color);
  background: var(--bkg-color);
}
.navbar {
  background: var(--bkg-nav-color);
}

h1,
p,
.word {
  color: var(--text-color);
}
button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: var(--btn-txt-color);
  background-color: var(--btn-bg-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 0;
  margin: 0 5px;
}
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 50px;
  left: 5px;
  bottom: 4px;
  background-color: var(--bkg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider {
  background-color: var(--bkg-slider-color);
}

.slider.round {
  border-radius: 34px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.temp-border {
  border: 2px solid red;
}
