/* You can add global styles to this file, and also import other style files */





@font-face {
  font-family: 'Futura Std Bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Futura Std Medium';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCGPrEHJA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Futura Std Book';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




/*
These fonts do not work
@font-face {
  font-family: 'Futura Std Medium', sans-serif;
  src: url('assets/fonts/Futura-Std-Bold.otf') format('opentype');
}
*/



body {
    font-family: 'Futura Std Bold', !important;
  --text-color: #222;
  --bkg-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 227, 164, 0.75) 100%
  );
  --bkg2-color: white;
  --btn-txt-color: white;
  --btn-bg-color: rgb(11, 88, 160);
  --bkg-nav-color: linear-gradient(
    143deg,
    rgba(71, 76, 85, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --brder-color: black;
  --bkg-slider-color: black;
  --bkg-title-color: linear-gradient(
    90deg,
    rgba(252, 180, 20, 1) 0%,
    rgba(242, 105, 32, 1) 100%
  );
  --place-holder-color: black;
  --input-field-bkg: white;
  --product-detail-bkg: rgba(255, 252, 246, 0.95);

  --lego-blue: #0B79D9;
  --lego-yellow: #F2B90C;
  --lego-orange: #F27405;

  color: var(--text-color);
  background: var(--bkg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #252222;
  --bkg2-color: #252222;
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
  --bkg-nav-color: linear-gradient(
    143deg,
    rgba(71, 76, 85, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --brder-color: white;
  --bkg-slider-color: white;
  --place-holder-color: silver;
  --input-field-bkg: black;
  --product-detail-bkg: #252222f3;
}

input {
  background: var(--input-field-bkg);
}

h1,
h2,
h3,
h4 {
  font-family: 'Futura Std Bold', sans-serif;
}

.title {
  margin-top: 50px;
  background: var(--bkg-title-color);
  padding-top: 3em;
  padding-bottom: 2.5em;
  font-family: 'Futura Std Bold', sans-serif;
}

.title-text {
  margin-left: 20%;
  text-align: right;
  width: fit-content;
  font-family: 'Futura Std Bold', sans-serif;
}

.card-title {
  color: var(--bkg-title-color);
  font-family: 'Futura Std Bold', sans-serif;
}

.navbar {
  background: var(--bkg-nav-color);
  color: white;
}

button {
  --btn-dwbi-primary: #72a4c2;
  --btn-dwbi-primary-lt: #75cdd9;
  --btn-dwbi-primary-dk: #364e78;
  --btn-dwbi-remove: #c9283e;
  --btn-dwbi-remove-lt: #f0433a;
  --btn-dwbi-remove-dk: #820333;

  padding: 10px;
  border: none;
  border-radius: 2px;
  color: var(--btn-txt-color);
  background-color: var(--btn-bg-color);
}

.btn-dwbi-primary {
  background-color: var(--btn-dwbi-primary-lt);
  color: white;
}
.btn-dwbi-primary:hover {
  background-color: var(--btn-dwbi-primary);
  border-color: #364e78;
}

.btn-dwbi-remove {
  background-color: var(--btn-dwbi-remove-lt);
  color: white;
}
.btn-dwbi-remove:hover {
  background-color: var(--btn-dwbi-remove);
  border-color: var(--btn-dwbi-remove-dk);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 0;
  margin: 0 5px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--bkg-slider-color);
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 50px;
  left: 5px;
  bottom: 4px;
  background: var(--bkg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html,
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
}

.temp-border {
  border-style: solid;
  border-width: 2px;
  border-color: hotpink;
}
