
<mat-accordion *ngIf="userAccess == 'ADMIN'">
  <mat-expansion-panel [expanded]="toggleAcc" (closed)="closeAcc()" (opened)="openAcc()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h5>Create or Update a Product</h5>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>

      <p *ngIf="productName !== ''">Currently Updating Product: {{productName}}</p>
  
      <form *ngIf="showForm == true" (ngSubmit)="createProduct()">
          <label for="product-name">Product Name</label>
          <input
            id="product-name"
            name="product-name"
            type="text"
            class="form-control"
            [(ngModel)]="productInfo.name"
            [ngModelOptions]="{ standalone: true }"
          />
      
          <label for="product-desc">Product Description</label>
          <input
            id="product-desc"
            name="product-desc"
            type="text"
            class="form-control"
            [(ngModel)]="productInfo.description"
            [ngModelOptions]="{ standalone: true }"
          />
      
          <label for="product-quantity">Product Quantity</label>
          <input
            id="product-quantity"
            name="product-quantity"
            type="text"
            class="form-control"
            [(ngModel)]="productInfo.quantity"
            [ngModelOptions]="{ standalone: true }"
          />
      
          <label for="product-price">Product Price</label>
          <input
            id="product-price"
            name="product-price"
            type="text"
            class="form-control"
            [(ngModel)]="productInfo.price"
            [ngModelOptions]="{ standalone: true }"
          />
      
          <label for="product-image">Product Image</label>
          <input
            id="product-image"
            name="product-image"
            type="text"
            class="form-control"
            [(ngModel)]="productInfo.image"
            [ngModelOptions]="{ standalone: true }"
          />
      
          <div class="d-flex justify-content-center">
            <button
            class="btn btn-outline-primary btn-block mb-4"
            style="width: 32%"
            type="reset"
            (click)="cancel()"
          >
            Cancel
          </button>
            <button *ngIf="productName === ''"
              type="submit"
              class="btn btn-outline-primary btn-block mb-4"
              style="width: 32%"
              [disabled]="productInfo.name === '' || productInfo.image === '' || productInfo.price === 0 || productInfo.description === ''"
              (click)="createProduct()"
            >
              Create
            </button>
            <button *ngIf="productName !== ''"
            type="submit"
            class="btn btn-outline-primary btn-block mb-4"
            style="width: 32%"
            [disabled]="productInfo.name === '' || productInfo.image === '' || productInfo.price === 0 || productInfo.description === ''"
            (click)="createProduct()"
          >
            Update
          </button>
          </div>
        </form>
  </div>
  <div *ngIf="showForm == false && hasError == false">
    <p>Successfully {{word}} the product!</p>
    <button
    class="btn btn-outline-primary btn-block mb-4"
    style="width: 32%"
    (click)="closeDiv()"
  >
    Ok
  </button>
  </div>
  <div *ngIf="hasError">
    <app-error-popup [errorMessage]="errorMessage"></app-error-popup>
    <button
    class="btn btn-outline-primary btn-block mb-4"
    style="width: 32%"
    (click)="closeDiv()"
  >
    Ok
  </button>
  </div>
  
  </mat-expansion-panel>
</mat-accordion>
