/* .control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:1px;
} */

input.ng-invalid.ng-touched {
  border: red 2px solid;
}

input.ng-valid.ng-touched {
  border: green 2px solid;
}

.error-msg {
  color: #a94442;
}

* {
  font-family: 'Futura Std Book';
}
.logo {
  max-height: 200px;
  margin-top: 2%;
}
.container {
  padding-top: 2%;
}

.inner-login-form {
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 25px;
}
