<div class="text-center">
    <img src="../../../assets/images/Group_1987.png" width="15%" height="15%" alt="Revature">
  </div> 
  <div class="container">
  <div class="inner-login-form">
    


<form id="reset-form" [formGroup]="resetForm">

    <div class="form-group">
        <label for="inputEmail" class="control-label required">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email">
        <small id="emailHelp" class="form-text text-muted">Ensure you enter the correct email</small>

        <div *ngIf="f.email.touched && f.email.errors" >
            <div *ngIf="f.email.errors.required" class="error-msg">
                Please enter your email
            </div>
            <div *ngIf="f.email.errors.email" class="error-msg">
                This is not a valid email
            </div>
        </div>
    </div>


    <div>
        <label for="question" class="control-label">Quetion</label>
        <input type="text" class="form-control" [value]="question" disabled>
    </div>

    <div class="form-group">
        <label for="answer" class="control-label required">Answer</label>
        <input type="text" class="form-control" formControlName="answer" id="input-answer" placeholder="Enter an Answer">
      
        <div *ngIf="f.answer.touched && f.answer.errors" >
          <div *ngIf="f.answer.errors.required" class="error-msg">
            Please enter your Answer to your security question
          </div>
          <div *ngIf="f.answer.errors.pattern" class="error-msg">
            Only letters are allowed
          </div>
        </div>
      </div>
      
    <div class="form-group">
        <label for="inputPassword" class="control-label required">New Password</label>
        <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Enter Password">

        <div *ngIf="f.password.touched && f.password.errors" >
            <div *ngIf="f.password.errors.required" class="error-msg">
                Please enter your password
            </div>
            <div *ngIf="f.password.errors.pattern" class="error-msg">
                Password requires typical password stuff
            </div>
        </div>

    </div>
    <app-error-popup *ngIf="hasError" [errorMessage]="errorMessage"></app-error-popup>
    <button class="btn btn-primary" (click)="onSubmit()">Reset</button>
    <button class="btn btn-info" (click)="getQuestion(resetForm.get('email')?.value)">Get Question</button>


</form>
</div>
</div>